@import url(./fonts.css);
:root{
    /* start color variables */
    --primery-color : #A55C30;
    --text-Primery-color : #232730;
    --white-color : #fff;
    --dark-bg-section : #232222F5;
    --footer-bg-color : #0C0C0C;
    --skiny-color : #F8D7A4;
    --background-color : #FAFAFA;
    --menu-hover-color : #C7763E;
    --hamberger-menu-bg-color : rgba(12, 12, 12, 0.95);
    /* End color variables */

    /* Start font variables */
    --Lora-font : "Lora-Bold";
    --noto-sanse : "NotoSanse-Regular";
    --nunito-sanse : "NunitoSans-Regular";
    --lato : "Lato";
    /* End font variables */

}